body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fffdec;
  margin-top: 50px;
}

input[type=range] {
  width: 80%;
  max-width: 800px;
}

input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #6a4c93 0%, #6a4c93 var(--val, 0%), #ddd var(--val, 0%), #ddd 100%);
  height: 10px;
  border-radius: 5px;
}

#slider {
  width: 800px;     /* makes the slider longer */
  height: 20px;     /* makes the slider thicker */
}

#slider::-webkit-slider-thumb {
  background-color: #4CAF50; /* change knob color */
}
#slider::-webkit-slider-runnable-track {
  background-color: #ddd; /* change track color */
}